*~
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libmodplug.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/.deps
src/.libs
*.la
*.lo
src/config.h
src/stamp-h1
*.o
*.po
*.Plo
*.swp
*.swo
